  .sides {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
  }
  
  /* Style the left side */
  .left {
    flex-basis: 50%;
    padding-right: 20px;
  }
  
  .left h1 {
    font-size: 3.125rem;
    margin-bottom: 20px;
    color: var(--gray-100);
    font-weight: 500;
  }
  
  .left p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 40px;
    border-right: 1px solid var(--gray-300);
    color: var(--gray-100);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-right: 30px;
  }
  
  /* Style the right side */
  .right {
    flex-basis: 50%;
  }
  
  .right h2 {
    font-size: 1rem;
    margin-bottom: 20px;
    color: var(--pink);
    font-family: 'GhothamHTF', Arial, sans-serif;
    font-weight: 700;
  }
  
  .right ul {
    font-size: 1.125rem;
    line-height: 1.5;
    margin: 0 0 20px 30px;
    color: var(--gray-300);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .right ul li::before {
    content: "\2013"; 
    margin-right: 5px;
  }
  