:root {
    --black: #000;
    --white: #fff;

    --gray-100: #91A3AD;
    --gray-300: #616D72;
    --gray-500: #32383B;
    
    --pink: #ED145B;

}

@font-face {
    font-family: "GothamHTF";
    src: url('../public/fonts/GothamHTF-Bold.otf') format("opentype");
    src: url('../public/fonts/GothamHTF-Book.otf') format("opentype");
    src: url('../public/fonts/GothamHTF-Book.otf') format("opentype");
};

body, input, textarea, button {
    font-family: "GothamHTF", sans-serif;
    font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "GothamHTF", sans-serif;
    background-color: var(--black);
}

#course {
    max-width: 960px;
}
#resume {
    max-width: 960px;
}
#classes {
    max-width: 960px;
}
